apiVersion: v1
kind: Service
metadata:
  name: butler-service
  namespace: autonomous-butler
  labels:
    app: butler-core
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: butler-core